.row div {
 border: 1px solid darkorange;
  outline: 1px solid darkorange;
 width: 55px;
 height: 55px;
 display: inline-block;
}
h1 {
	color:yellow;
}
.gameBoard {
	display: inline-block;
}
.spaceCol {
	display: inline-block;
	width:30px;
}
.row {
 margin: 0px;
}
.background {
	background-image: url('background.jpg');
}
.docked {
	width: 570px;
	height: 70px;
	border: 3px solid green;
  display: block;
}
.block {
	display: inline-block;
	font-size: 20px;
	color:yellow;
}